.userprofile-outercontainer {
    display: flex;
    /* flex-direction: column; */
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.userprofile-outercontainer p{
    color: blanchedalmond;
}

.user-profile {
    background-color: #070707;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}
.user-profile .heading {
    font-size: 30px;
    color: rgb(225, 221, 221);
    font-weight: 700;

    border-bottom: 3px solid white;
}

.data-row {
    display: flex;
    flex-direction: row;
    color: white;
}

.data-row span {
    width: 50%;
    padding: 10px;
    border: 2px solid;
    font-size: 18px;
}